
*{box-sizing: border-box;}

.grid-container {
  display: grid;
  grid-template-columns: 245px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color:#000000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.sidenav {
  grid-area: sidenav;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.main {
  grid-area: main;
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  
  
}
.footer {
  
  background-color:#000000;
  font-family: "Montserrat", sans-serif;
  
}


    /*nav*/

    :root{
      --backNav :  #262424  ;
      --hover   : #fff;  
    }



    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 10%;
      background-color: var(--backNav);
      position: fixed; /* Make it stick, even on scroll */
      overflow: auto; /* Enable scrolling if the sidenav has too much content */
      height: 100%;
     
    }
    
    li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      color: #fff; 
      text-align: center;
    }
    
    /* Change the link color on hover home */
    li a:hover.hover_home {
      background-color: #555;
      color: var(--hover);
      text-decoration: none;
    }
    
    /* Change the link color on hover others icons */
    
    li a:hover.icons{
      background-color: #131313;
      color: var( --hover ) ;
      text-decoration: none;
    }
    
    /* Photo nav*/
    
    .photo_nav{
    border-style: none;
    cursor: auto;
    vertical-align: middle;
    background-color: #fff ;
    width: 100%;
    height: auto;
     
    }
    
    .header_main{
      background-color: #000 ;
    }
    
    .header_main1{
      display: flex;
      justify-content:center ;
      align-items:center ;
      flex-direction:column;
    }

    /* Photo nav*/

.photo_nav{
  border-style: none;
  cursor: auto;
  vertical-align: middle;
  background-color: #fff ;
   
  }
  
  .header_main{
    background-color: #000 ;
  }
  
  .header_main1{
    display: flex;
    justify-content:center ;
    align-items:center ;
    flex-direction:column;
  }
  
  .main_title{
    font-size: 64px ;
    color: #f1f1f1;
    
  }
  .para_title{
    font-size: 15px;
    color: #fff;
  }

                  /* About */

.section_1{
  background-color: #000 ;
  font-size: 15px;
  line-height: 1.5;
  height:1000px;
  
}

.title_2{color: #f1f1f1;}

.para_1{
  
  display: block;
  color: #757575 ;
  text-align: justify ;  
 
}

.separator_1{
width: 130px;
height:2px ;
display: block;
background: #999999;
margin: 5px ;
color : #fff ;
 
}

.title_3{
  color:white ;
  padding-top: 40px ;
}

  /* progresbar */
.progress_bar{
  background-color: white ;
}

.title_progress_bar{
  padding: 12px  ;
}
  

          /* tableau */

          
td ,th{border:2px black solid; padding: 5px; text-align:center;  }
          
th{ font-weight: bolder;font-size: 25px; }
          
table{
  border-collapse:collapse ;
   margin-top: 30px; 
   background-color: #000;
 background-color:#fff ;
 color: #000;
font-size: 15px;
line-height: 1.5;
font-family: "Montserrat", sans-serif;
opacity: 0.70;
width: 36%;

}

.flex_table{
  display: flex;
  justify-content:space-around;
}
          
table:hover{cursor: pointer; opacity :1; }
          
thead,tfoot{background-color: #757575; text-align:center; }
          
.button_tableau{background-color: #fff;}
          
.button_tableau:hover{background-color: #000;color: #fff;}
  
.title_tbl{
  color:#757575 ;
  
  padding:1px 16px;
  
}


.title_4{
  color:#555;
  padding:1px 16px;
  padding-top: 45px;
}

.reput_img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  display: inline-block;
  
}

.text_reput{
  margin-top: 3px;
  color: #757575; 
  display: inline-block;
  
}



.separator_2{
  width: 130px;
  height:2px ;
  display: block;
  background:#555;
  margin: 5px ;
  color : #f1f1f1 ;
   
  }
                      /* photosfolio */

 

  .my_photos{
    color: #f1f1f1;
    margin-top: 10%;
  }

  .my_photo_folio{
    width: 300px;
    height: 300px;
    
  }
  .my_photo_folio_rec{
    width: 300px;
    height: 650px;
   
  }

  .main_my_photo{
    display: flex; 
    justify-content: space-around ; 
    padding: 30px;      
}

.title_contact{
  color: #fff;
  font-size: 50px ;
}

.separator_3{
  width: 230px;
  height:2px ;
  display: block;
  background:#f1f1f1;
  margin: 25px ;
  color : #f1f1f1 ;
   
  }

              /* formulaire*/
form{
  margin:  auto;
  width: -30%;
  padding: 2em;
  border-radius: 1em;
  font:inherit ;

}



input{
  display: block ;
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:900px;
  border:none;
  border-bottom:1px solid #757575;
  
}
 
label:focus{
  color:#999; 
  font-size:50px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;  
}



.bouton{
display: flex;
justify-content:flex-start ;
padding-top: 20px;

}

textarea{
  height: 20em ;
}






  
  

 


               
            
